<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Browse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="welcome">Welcome {{user.getUsername()}}!</p>
  <ion-list>
    <div *ngFor="let sectionName of sectionNames">
      <ion-item>
        <ion-label>
          {{ sectionName }}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-slides>
          <ion-slide>
            <ion-card>
              <img src=""/>
              <ion-card-header>
                <ion-card-subtitle>Source</ion-card-subtitle>
                <ion-card-title>Title</ion-card-title>
              </ion-card-header>
              <ion-card-content>This is an example description</ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
