<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Browse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-backdrop *ngIf="backdrop" tappable="false" style="opacity:100%"></ion-backdrop>

  <ion-searchbar></ion-searchbar>
  <ion-list>

    <ion-list-header>
      <ion-label>Shows</ion-label>
    </ion-list-header>

    <ion-item-divider>
      <ion-label>Featured</ion-label>
    </ion-item-divider>
    <ion-item *ngIf="featuredResults" lines="none">
      <ion-slides [options]="slideOptions">
        <ion-slide *ngFor="let result of featuredResults">
          <ion-item detail="false" lines="none" button="true" [routerDirection]="'forward'" [routerLink]="'/home/browse/show/' + result.id">
            <img style="border-radius: 4px;" src="{{ result.artwork_304x171 }}"/>
          </ion-item>
        </ion-slide>
      </ion-slides>
    </ion-item>

    <ion-item-divider>
      <ion-label>Action</ion-label>
    </ion-item-divider>
    <ion-item *ngIf="actionResults" lines="none">
      <ion-slides [options]="slideOptions">
        <ion-slide *ngFor="let result of actionResults">
          <ion-item detail="false" lines="none" button="true" [routerDirection]="'forward'" [routerLink]="'/home/browse/show/' + result.id">
            <img style="border-radius: 4px;" src="{{ result.artwork_304x171 }}">
          </ion-item>
        </ion-slide>
      </ion-slides>
    </ion-item>

    <ion-item-divider>
      <ion-label>Comedy</ion-label>
    </ion-item-divider>
    <ion-item *ngIf="comedyResults" lines="none">
      <ion-slides [options]="slideOptions">
        <ion-slide *ngFor="let result of comedyResults">
          <ion-item detail="false" lines="none" button="true" [routerDirection]="'forward'" [routerLink]="'/home/browse/show/' + result.id">
            <img style="border-radius: 4px;" src="{{ result.artwork_304x171 }}">
          </ion-item>
        </ion-slide>
      </ion-slides>
    </ion-item>

    <ion-item-divider>
      <ion-label>Horror</ion-label>
    </ion-item-divider>
    <ion-item *ngIf="horrorResults" lines="none">
      <ion-slides [options]="slideOptions">
        <ion-slide *ngFor="let result of horrorResults">
          <ion-item detail="false" lines="none" button="true" [routerDirection]="'forward'" [routerLink]="'/home/browse/show/' + result.id">
            <img style="border-radius: 4px;" src="{{ result.artwork_304x171 }}">
          </ion-item>
        </ion-slide>
      </ion-slides>
    </ion-item>

    <ion-item-divider></ion-item-divider>

    <ion-item-divider>
      <ion-label>Movies</ion-label>
    </ion-item-divider>
    <ion-item *ngIf="movieResults" lines="none">
      <ion-slides [options]="slideOptions">
        <ion-slide *ngFor="let result of movieResults">
          <ion-item detail="false" lines="none" button="true" [routerDirection]="'forward'" [routerLink]="'/home/browse/movie/' + result.id">
            <img style="border-radius: 4px;" src="{{ result.poster_240x342 }}">
          </ion-item>
        </ion-slide>
      </ion-slides>
    </ion-item>

    <ion-item-divider></ion-item-divider>

  </ion-list>
</ion-content>
