<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Browse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar></ion-searchbar>
  <ion-list *ngIf="loaded">

    <ion-item>
      <ion-label>Shows</ion-label>
    </ion-item>

    <ion-list-header>Featured</ion-list-header>
    <ion-item>
      <ion-slides [options]="slideOptions">
        <ion-slide *ngFor="let result of featuredResults">
          <ion-item button="true" [routerDirection]="'forward'" [routerLink]="'/home/browse/show/' + result.id">
            <img style="border-radius: 4px;" src="{{ result.artwork_304x171 }}"/>
          </ion-item>
        </ion-slide>
      </ion-slides>
    </ion-item>

    <ion-list-header>Action</ion-list-header>
    <ion-item>
      <ion-slides [options]="slideOptions">
        <ion-slide *ngFor="let result of actionResults">
          <ion-item button="true" [routerDirection]="'forward'" [routerLink]="'/home/browse/show/' + result.id">
            <img style="border-radius: 4px;" src="{{ result.artwork_304x171 }}">
          </ion-item>
        </ion-slide>
      </ion-slides>
    </ion-item>

    <ion-list-header>Comedy</ion-list-header>
    <ion-item>
      <ion-slides [options]="slideOptions">
        <ion-slide *ngFor="let result of comedyResults">
          <ion-item button="true" [routerDirection]="'forward'" [routerLink]="'/home/browse/show/' + result.id">
            <img style="border-radius: 4px;" src="{{ result.artwork_304x171 }}">
          </ion-item>
        </ion-slide>
      </ion-slides>
    </ion-item>

    <ion-list-header>Horror</ion-list-header>
    <ion-item>
      <ion-slides [options]="slideOptions">
        <ion-slide *ngFor="let result of horrorResults">
          <ion-item button="true" [routerDirection]="'forward'" [routerLink]="'/home/browse/show/' + result.id">
            <img style="border-radius: 4px;" src="{{ result.artwork_304x171 }}">
          </ion-item>
        </ion-slide>
      </ion-slides>
    </ion-item>

    <ion-item-divider></ion-item-divider>

    <ion-item>
      <ion-label>Movies</ion-label>
    </ion-item>
    <ion-item>
      <ion-slides [options]="slideOptions">
        <ion-slide *ngFor="let result of movieResults">
          <ion-item button="true" [routerDirection]="'forward'" [routerLink]="'/home/browse/movie/' + result.id">
            <img style="border-radius: 4px;" src="{{ result.poster_240x342 }}">
          </ion-item>
        </ion-slide>
      </ion-slides>
    </ion-item>

    <ion-item-divider></ion-item-divider>

  </ion-list>
</ion-content>
