<ion-header>
  <ion-toolbar>
    <ion-title>PortalStream</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-backdrop *ngIf="backdrop" tappable="false" style="opacity:100%;"></ion-backdrop>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div text-center>
          <h3>Login</h3>
        </div>
        <div padding>
          <form [formGroup]="loginForm">
            <ion-item>
              <ion-input formControlName="email" type="email" placeholder="your@email.com"></ion-input>
            </ion-item>
            <div *ngFor="let validation of validationMessages['email']">
              <ion-item lines="none" *ngIf="
                                loginForm.controls.email.hasError(validation['type']) &&
                                    loginForm.controls.email.touched">
                <ion-text color="danger" size-xs>
                  <sub>*{{ validation['message'] }}</sub>
                </ion-text>
              </ion-item>
            </div>
            <ion-item>
              <ion-input formControlName="password" type="password" placeholder="password"></ion-input>
            </ion-item>
          </form>
        </div>
        <div padding>
          <ion-button
                  size="large"
                  type="submit"
                  expand="block"
                  [disabled]="loginForm.invalid || buttonPressed"
                  (click)="login(loginForm)">
            Login
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar text-center>
    <ion-buttons slot="primary">
      <ion-button routerLink="/register">
        <ion-icon name="create"></ion-icon>
        Create Account!
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

