<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <ion-searchbar></ion-searchbar>
  <ion-list>
    <ion-item>
      <ion-label>
        Continue Watching
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-slides [options]="slideOptions">
        <ion-slide *ngFor="let result of continueResults">
          <ion-card>
            <img src="{{ result.artwork_304x171 }}"/>
            <ion-card-subtitle>{{ result.title }}</ion-card-subtitle>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-item>
    <ion-item>
      <ion-label>
        Saved
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-slides [options]="slideOptions">
        <ion-slide *ngFor="let result of savedResults">
          <ion-card>
            <img src="{{ result.artwork_304x171 }}"/>
            <ion-card-subtitle>{{ result.title }}</ion-card-subtitle>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-item>
  </ion-list>
</ion-content>
