<ion-tabs>

  <ion-tab-bar slot="bottom" mode="ios">

    <ion-tab-button tab="shows">
      <ion-icon name="videocam"></ion-icon>
      <ion-label>Shows</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="movies">
      <ion-icon name="film"></ion-icon>
      <ion-label>Movies</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="list">
      <ion-icon name="library"></ion-icon>
      <ion-label>List</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="subscriptions">
      <ion-icon name="card"></ion-icon>
      <ion-label>Subscriptions</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>

