<ion-header>
    <ion-toolbar>
        <ion-title>Home</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="key"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button id="log-out"><ion-icon name="log-out"></ion-icon></ion-fab-button>
            <ion-fab-button id="register" href="/register"><ion-icon name="person-add"></ion-icon></ion-fab-button>
            <ion-fab-button id="log-in" href="/login"><ion-icon name="log-in"></ion-icon></ion-fab-button>
            <ion-fab-button id="settings" href="/account"><ion-icon name="settings"></ion-icon></ion-fab-button>
        </ion-fab-list>
    </ion-fab>
</ion-content>
