<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item [routerDirection]="'forward'" [routerLink]="'/settings/browse'" detail>
      <ion-icon slot="start" name="search"></ion-icon>
      <ion-label>Browsing Settings</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
