<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides pager="true" [options]="slideOptions">

    <ion-slide>
      <ion-grid>
        <ion-col>

          <div class="ion-text-center">
            <h3>Search Filters</h3>
          </div>

          <ion-item-divider></ion-item-divider>

          <ion-item>
            <ion-label>Include Pre-orders</ion-label>
            <ion-toggle (ionChange)="test($event)"></ion-toggle>
          </ion-item>

          <ion-item>
            <ion-label>Include In-theaters</ion-label>
            <ion-toggle (ionChange)="test($event)"></ion-toggle>
          </ion-item>

          <ion-item-divider></ion-item-divider>

          <ion-item>
            <ion-label>Channels</ion-label>
            <ion-select (ionChange)="channelSelection($event.detail.value)">
              <ion-select-option *ngFor="let option of channelOptions" [value]="option">{{ option }}</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item *ngIf="customizeChannels">
            <ion-label>
              <ion-icon slot="icon-only" name="tv"></ion-icon>
            </ion-label>
            <ion-select multiple="true" cancelText="Cancel" okText="Update!" (ionChange)="test($event)" value="All">
              <ion-select-option *ngFor="let option of channelList" [value]="option">{{ option }}</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item-divider></ion-item-divider>

          <ion-item>
            <ion-label>Sources</ion-label>
            <ion-select multiple="true" cancelText="Cancel" okText="Update!" (ionChange)="test($event)" value="All">
              <ion-select-option *ngFor="let option of sourceOptions" [value]="option">{{ option }}</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item-divider></ion-item-divider>

          <ion-item>
            <ion-label>Platforms</ion-label>
            <ion-select multiple="true" cancelText="Cancel" okText="Update!" (ionChange)="test($event)" value="All">
              <ion-select-option *ngFor="let option of platformOptions" [value]="option">{{ option }}</ion-select-option>
            </ion-select>
          </ion-item>

        </ion-col>
      </ion-grid>
    </ion-slide>

    <ion-slide>
      <ion-grid>
        <ion-col size-md="6" size-lg="5" size-xs="12">
          <form [formGroup]="emailForm">
            <div class="ion-text-center">
              <h3>Account Details</h3>
            </div>
            <ion-item>
              <ion-icon slot="start" name="mail"></ion-icon>
              <ion-label *ngIf="!editEmail">{{user.getEmail()}}</ion-label>
              <ion-input *ngIf="editEmail" formControlName="email" type="email" placeholder="New Email"></ion-input>
              <ion-button slot="end" *ngIf="edit && !editUsername && !editPassword" (click)="canEditEmail()">Edit</ion-button>
            </ion-item>
            <div *ngFor="let validation of validationMessages['email']">
              <ion-item lines="none" *ngIf="emailForm.controls.email.hasError(validation['type']) && emailForm.controls.email.touched && editEmail">
                <ion-text color="danger">
                  <sub>*{{ validation['message'] }}</sub>
                </ion-text>
              </ion-item>
            </div>
          </form>
          <ion-button *ngIf="editEmail"
                      type="submit"
                      expand="block"
                      [disabled]="emailForm.invalid || buttonPressed"
                      (click)="updateEmail(emailForm)">
            Update Email
          </ion-button>
          <form [formGroup]="usernameForm">
            <ion-item>
              <ion-icon slot="start" name="person"></ion-icon>
              <ion-label *ngIf="!editUsername">{{user.getUsername()}}</ion-label>
              <ion-input *ngIf="editUsername" formControlName="username" placeholder="New Username"></ion-input>
              <ion-button slot="end" *ngIf="edit && !editEmail && !editPassword" (click)="canEditUsername()">Edit</ion-button>
            </ion-item>
            <div *ngFor="let validation of validationMessages['username']">
              <ion-item lines="none" *ngIf="usernameForm.controls.username.hasError(validation['type']) && usernameForm.controls.username.touched && editUsername">
                <ion-text color="danger">
                  <sub>*{{ validation['message'] }}</sub>
                </ion-text>
              </ion-item>
            </div>
          </form>
          <ion-button *ngIf="editUsername"
                      type="submit"
                      expand="block"
                      [disabled]="usernameForm.invalid || buttonPressed"
                      (click)="updateUsername(usernameForm)">
            Update Username
          </ion-button>
          <form [formGroup]="passwordForm">
            <ion-item>
              <ion-icon slot="start" name="lock-closed"></ion-icon>
              <ion-label *ngIf="!editPassword">****************</ion-label>
              <ion-input *ngIf="editPassword" formControlName="old" type="password" placeholder="Old Password"></ion-input>
              <ion-button slot="end" *ngIf="edit && !editEmail && !editUsername" (click)="canEditPassword()">Edit</ion-button>
            </ion-item>
            <div *ngFor="let validation of validationMessages['password']">
              <ion-item lines="none" *ngIf="passwordForm.controls.old.hasError(validation['type']) && passwordForm.controls.old.touched">
                <ion-text color="danger">
                  <sub>*{{ validation['message'] }}</sub>
                </ion-text>
              </ion-item>
            </div>
            <div formGroupName="password">
              <ion-item *ngIf="editPassword">
                <ion-icon slot="start" name="key-outline"></ion-icon>
                <ion-input formControlName="set" type="password" placeholder="New Password"></ion-input>
              </ion-item>
              <ion-item *ngIf="editPassword">
                <ion-icon slot="start" name="key"></ion-icon>
                <ion-input formControlName="confirm" type="password" placeholder="Confirm New Password"></ion-input>
              </ion-item>
            </div>
            <div *ngFor="let validation of validationMessages['password']">
              <ion-item lines="none" *ngIf="passwordForm.controls.password.get('set').hasError(validation['type']) && passwordForm.controls.password.get('set').touched">
                <ion-text color="danger">
                  <sub>*{{ validation['message'] }}</sub>
                </ion-text>
              </ion-item>
            </div>
            <ion-item lines="none" *ngIf="passwordForm.controls.password.errors !== null && passwordForm.controls.password.get('confirm').touched">
              <ion-text color="danger">
                <sub>*{{ validationMessages['confirm']['message']}}</sub>
              </ion-text>
            </ion-item>
          </form>
          <ion-button *ngIf="editPassword"
                      type="submit"
                      expand="block"
                      [disabled]="passwordForm.invalid || buttonPressed"
                      (click)="updatePassword(passwordForm)">
            Update Password
          </ion-button>
          <ion-row class="ion-justify-content-end">
            <ion-button size="small" color="dark" (click)="toggleEdit()">
              <ion-icon slot="icon-only" [name]="edit ? 'lock-open':'lock-closed'"></ion-icon>
            </ion-button>
          </ion-row>
        </ion-col>
      </ion-grid>
    </ion-slide>

  </ion-slides>

</ion-content>
